/*standards*/

body{
   font-family: 'Lato', sans-serif;
   margin-top: 100px;
}

.row{
   display: flex;
}

/*end standards*/

/*modal*/

.modalBackground{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.4);
   z-index: 200;
   display: none;
   padding-top: 20vh;
}

.modalContent{
   margin-left: auto;
   margin-right: auto;
   width: 400px;
   height: auto;
   background-color: white;
   border: 4px solid rgb(86 , 32, 175);
   padding: 10px 15px 10px 15px;
}

.close{
   margin-left: auto;
   width: 20px;
   display: block;
   font-size: 2rem;
   color: #00add0;
   cursor: pointer;
}

textarea{
   box-sizing: border-box;
	width: 100%;
   resize: none;
}

input{
   width: 98%;
}

input, textarea{
   font-size: 1.2rem;
   border: 0;
   border-bottom: 3px #00c78b solid;
}

input.send{
   width:50%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border: none;
   cursor: pointer;
}

/*modal end*/

/*header*/
.header{
   position: fixed;
   top:0;
   left:0;
   z-index: 100;
   justify-content: center;
   width: 100%;
   background-color: rgba(81, 98, 111, 0.6);
   /*background-color: white;*/
   /*border-bottom: #00c78b solid 4px;*/
   border-bottom: 4px solid rgb(86 , 32, 175);
   color: white;
}

.menu{
   padding-top: 10px;
   padding-bottom: 10px;
   font-size: 1.1rem;
   margin-left: 60px;
   /*border-bottom: #00c78b solid 4px;*/
   align-items: center;
   /*color: #00c78b;*/
}



.social{
   align-items: center;
   margin-left: auto;
   margin-right: 100px;
   /*border-bottom: 2px solid #00c78b;*/
   /*border-bottom: 4px solid rgb(86 , 32, 175);*/
   width: 145px;
}

.social i{
   color: white;
   margin-left: 1vw;
   cursor: pointer;
   /*color: #00c78b;*/
   /*color: #00add0;*/
}

.social i:hover{
   color: #00add0;
}

.menu div{
   font-size: 1.4rem;
   margin-left: 2vw;
   margin-right: 2vw;
}

.menuItem:hover{
   font-weight: 900;
   cursor: pointer;
}

/*end header*/

/*gallery*/

.galleryContainer{
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 300px;
}

.centreImage img{
   width: 400px;
   height: auto;
   z-index: 10;
}

/*overlay*/

.centreImage:hover .imageElement{
   filter: brightness(30%);
}

.overlayButton{
   transform: translate(130px, -170px);
   display: none;
   height: 30px;
   width: 150px;
   line-height: 30px;
   background-color: rgba(255, 255, 255, 0.8);
   font-size: 1rem;
   text-align: center;
   cursor: pointer;
   border-radius: 5px;
   padding: 5px;
}

.overlayButton:hover{
   border: #00c78b 2px solid;
   padding: 3px;
}

.overlayWrapper{
   height: 30px;
}

/*overlay end*/

.leftImage img, .rightImage img{
   width: 150px;
   height: auto;
   cursor: pointer;
}

.up, .down{
   color: rgb(86, 32, 175);
   cursor: pointer;
   font-size: 50px;
   font-weight: 600;
}

.text{
   margin-left: auto;
   margin-right: auto;
   width: 550px;
   height: 300px;
}

.text p{
   color: rgb(81, 98, 111);
   text-align: justify;
}

.text h2{
   text-align: center;
   color: #00add0;
}

.skills{
   font-size: 20px;
}

/*gallery end*/

/*about*/

.aboutContainer{

}

.myPic{
   width: 400px;
   height: auto;
   margin-left: 50px;
}

.about{
   margin-left: auto;
   margin-right: 50px;
   width: 50%;
   border-top: 2px solid #00c78b;
   /*background-color: rgba(81, 98, 111, 0.6);*/
   padding-right: 20px;
   padding-left: 20px;
}
