/* Page one header*/
#headerPhoto{
   max-width: 15%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   margin-bottom; 0px;
}
#header{
   background-image: url("");
   background-repeat: no-repeat;
}


.theimageborder{
   border-style: solid;
   border-width: 3px;
   border-color: #000000;
   margin: auto;
}

.textbigger{
   font-size: 500%;
   font-family: 'Roboto Condensed';
   color: black;
}

/*page one header end*/



/* page one stuff below */

.flexcontainer{
   width: 50%;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 40px;
}

.flexitem{
   width: 50%;
   margin-right: 30px;
}
.titletext{
   font-size: 30px;
   color: #757575;
   font-family: 'Roboto Condensed';
}

.descriptiontext{
   text-align: justify;
   color: #757575;
   font-family: 'Roboto Condensed';
}

.increasetext{
   font-size: 150%;
}

#lifeline{
   margin-right: 20%;
}

#bodycontainer{
   margin-bottom: 60px;
}
/*End page one stuff*/



/* links start */

.container-fluid a:link, a:visited{
   color: red;
}

.menuitem a:link, .menuitem a:visited{
   color: black;
}

.currentpage{
   text-decoration: overline underline;
}

/* end of links */

/* Flex menu */

#menucontainer{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-left: 20%;
   padding-top: 5px;
   height: 80px;
   background-color: white;
}

.menuitem{
   margin-left: 1%;
   font-size: 2rem;
}

#menuheadimage{
   max-width: 7%;
}

.socialicons{
   max-width: 3%;
   margin-right: 2%;
}

#pushiconsright{
   margin-left: auto;
}
/* End Flex menu */

.waxbody{
   width: 50%;
   margin: auto;
   margin-top: 100px;
}

.pictureplaceholder{
   width: 100%;
   height: 300px;
   border: solid 20px black;
   color: black;
   text-align: center;
   padding-top: 15%;
   margin-bottom: 70px;
   margin-top: 20px;
}
